.hc-is-center {
	text-align: center!important;
}
.hc-is-inlineblock {
	display: inline-block!important;
}
.hc-is-middle {
	vertical-align: middle!important;
}
.hclayer{
	min-width: 100px;
	/*max-width: 360px;*/
	border-radius: 2px;
	background: #fff;
	box-shadow: 2px 1px 50px rgba(0,0,0,.3);
	-webkit-overflow-scrolling: touch;
}
/*.hclayer.hclayer-child{
	position: absolute;
}*/
.hclayer-dialog{
	width: 420px;
	border-radius: 4px;
	overflow: hidden;
}
.hclayer-dialog-custom {
	width: auto;
}
.hclayer-is-relative {
	position: relative!important;
}
.hclayer-load-mask.hclayer-is-full {
	position: fixed!important;
}
.hclayer-is-lock {
	overflow: hidden!important;
}
.hclayer-style-black{
	background: rgba(0,0,0,0.6);
	color: #fff;
}

/*遮罩层*/
.hclayer-shade{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
}
/*标题*/
.hclayer-title{
	height: 42px;
	line-height: 42px;
	/*background: #f8f8f8;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	/*border-bottom: 1px solid #eee;*/
	padding-left: 20px;
	font-size: 18px;
}
.hc-is-center .hclayer-title {
	padding-left: 0;
}
/*关闭按钮*/
.hclayer-close{
	position: absolute;
	top: 0;
	right: 15px;
	height: 42px;
	line-height: 42px;
}
.hclayer-close:hover{
	opacity: 0.9;
}
.hclayer-close-2{ /*适用于无title情况*/
	right: 12px;
	height: 32px;
	line-height: 32px;
}
.hclayer-close::before{
	content: 'x';
	cursor: pointer;
}
/*内容*/
.hclayer-content{
	padding: 20px;
	font-size: 14px;
}
/*按钮*/
.hclayer-btn{
	text-align: right;
	padding-bottom: 15px;
	padding-right: 20px;
}
.hc-is-center .hclayer-btn {
	text-align: center;
	padding-bottom: 20px;
}
.hclayer-btn a{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
	border-radius: 2px;
	border: 1px solid #dedede;
	cursor: pointer;
	margin-left: 20px;
	font-size: 12px;
}
.hclayer-btn a:hover{
	opacity: 0.9;
}
.hclayer-btn a.hclayer-btn-yes{
	color: #fff;
	background: #1E9FFF;
	border-color: #1E9FFF;
}
/*-------------------msg---------------*/
.hclayer-msg{
	position: fixed;
	max-width: 360px;
	min-width: 260px;
	box-shadow: none;
	text-align: center;
}
.hclayer-msg .hclayer-content{
	padding: 15px;
	font-size: 16px;
}
/*-------------------notice---------------*/
.hclayer-notice {
	position: fixed;
	/*top: 16px;*/
	width: 330px;
	padding: 14px 26px 14px 13px;
	box-sizing: border-box;
	overflow: hidden;
	background: #fff;
	border: 1px solid #ebeef5;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
	-webkit-transition: opacity .3s, left .3s, right .3s, top .4s, bottom .4s, -webkit-transform .3s, transform .3s;
  			transition: opacity .3s, left .3s, right .3s, top .4s, bottom .4s, -webkit-transform .3s, transform .3s;
}
.hclayer-notice.right {
	right: 16px;
}
.hclayer-notice.left {
	left: 16px;
}
.hclayer-notice .hclayer-content {
	padding: 0;
	padding-left: 13px;
	padding-top: 6px;
}
.hclayer-notice .hclayer-close-2 {
	top: 12px;
}
/*-------------------alert---------------*/
.hclayer-alert-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	height: 100%;
}
.hclayer-alert-wrapper:after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}
.hclayer-alert{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
/*-------------------load加载---------------*/
.hclayer-load{
	box-shadow: none;
}
.hclayer.hclayer-load{
	width: auto;
	min-width: 0;
	background: transparent;
}
.hclayer-load .hclayer-content{
	padding: 0;
}
.hclayer-load-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.6);
}
.hclayer-load-spinner {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.hclayer-load-text {
	margin: 0;
	margin-top: 3px;
	padding: 0;
	font-size: 14px;
	color: #666;
	text-align: center;
}
.hc-is-inlineblock.hclayer-load-text {
	margin-top: 0;
	margin-left: 5px;
}
/*---------动画----------*/
.hclayer-anim{
	-webkit-animation-duration: .3s;
			animation-duration: .3s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
}
/*弹出*/
.hclayer-anim-bounceIn{
	-webkit-animation-name: layer-bounceIn;
			animation-name: layer-bounceIn;
}
@keyframes layer-bounceIn{
	0%{
		opacity: 0;
		transform: scale(.5);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes layer-bounceIn{
	0%{
		opacity: 0;
		transform: scale(.5);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}
/*渐隐显出*/
.hclayer-anim-fadeIn{
	-webkit-animation-name: layer-fadeIn;
			animation-name: layer-fadeIn;
}
@keyframes layer-fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@-webkit-keyframes layer-fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*渐隐隐藏*/
.hclayer-anim-fadeOut{
	-webkit-animation-name: layer-fadeOut;
			animation-name: layer-fadeOut;
}
@keyframes layer-fadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes layer-fadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
/*右侧滑出*/
.hclayer-anim-rightIn {
	-webkit-animation-name: layer-rightIn;
		animation-name: layer-rightIn;
}
@-webkit-keyframes layer-rightIn {
	0% {
		right: 0;
		-webkit-transform: translateX(100%);
  		transform: translateX(100%);
	}
	100% {
		right: 16px;
	}
}
@keyframes layer-rightIn {
	0% {
		right: 0;
		-webkit-transform: translateX(100%);
  		transform: translateX(100%);
	}
	100% {
		right: 16px;
	}	
}
/*左侧滑出*/
.hclayer-anim-leftIn {
	-webkit-animation-name: layer-leftIn;
		animation-name: layer-leftIn;
}
@-webkit-keyframes layer-leftIn {
	0% {
		left: 0;
		-webkit-transform: translateX(-100%);
  		transform: translateX(-100%);
	}
	100% {
		left: 16px;
	}
}
@keyframes layer-leftIn {
	0% {
		left: 0;
		-webkit-transform: translateX(-100%);
  		transform: translateX(-100%);
	}
	100% {
		left: 16px;
	}	
}
/*关闭*/
.hclayer-anim-closeFade{
	-webkit-animation-name: layer-fadeOut;
			animation-name: layer-fadeOut;
	-webkit-animation-duration:.3s;
			animation-duration:.3s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
}
.hclayer-anim-closeBounce{
	-webkit-animation-name: layer-bounceOut;
			animation-name: layer-bounceOut;
	-webkit-animation-duration:.3s;
			animation-duration:.3s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
}
@keyframes layer-bounceOut{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.05);
	}
	100%{
		opacity: 0;
		transform: scale(.7);
	}
}

/*加载动画*/
.hcload1{
	display: inline-block;
	width: 36px;
	height: 36px;
	/*margin-top: 15%;*/
}
.hcload1 .hcload-lines{
	position: relative;
	width: 100%;
	height: 100%;
}
.hcload1 .hcload-lines > div{
	position: absolute;
	width: 3px;
	height: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.hcload1 .hcload-lines > div:before,
.hcload1 .hcload-lines > div:after{
	position: absolute;
	content: "";
	height: 25%;
	width: 100%;
	background: #7b7b7b;
	border-radius: 3px;
}
.hcload1 .hcload-lines > div:before{
	top: 0;
	left: 0;
}
.hcload1 .hcload-lines > div:after{
	bottom: 0;
	left: 0;
}
.hcload1 .hcload-lines > div:nth-child(2){
	-webkit-transform:rotate(30deg);
}
.hcload1 .hcload-lines > div:nth-child(3){
	-webkit-transform:rotate(60deg);
}
.hcload1 .hcload-lines > div:nth-child(4){
	-webkit-transform:rotate(90deg);
}
.hcload1 .hcload-lines > div:nth-child(5){
	-webkit-transform:rotate(120deg);
}
.hcload1 .hcload-lines > div:nth-child(6){
	-webkit-transform:rotate(150deg);
}
/*动画*/
@-webkit-keyframes load{
    0%{opacity:0;}
    100%{opacity:1;}
}
.hcload1 .hcload-lines > div:nth-child(1):before{
	-webkit-animation:load .96s linear 0s infinite;
}
.hcload1 .hcload-lines > div:nth-child(2):before{
	-webkit-animation:load .96s linear .08s infinite;
}
.hcload1 .hcload-lines > div:nth-child(3):before{
	-webkit-animation:load .96s linear .16s infinite;
}
.hcload1 .hcload-lines > div:nth-child(4):before{
	-webkit-animation:load .96s linear .24s infinite;
}
.hcload1 .hcload-lines > div:nth-child(5):before{
	-webkit-animation:load .96s linear .32s infinite;
}
.hcload1 .hcload-lines > div:nth-child(6):before{
	-webkit-animation:load .96s linear .4s infinite;
}
.hcload1 .hcload-lines > div:after{
	-webkit-animation:load .96s linear .48s infinite;
}
.hcload1 .hcload-lines > div:nth-child(2):after{
	-webkit-animation:load .96s linear .56s infinite;
}
.hcload1 .hcload-lines > div:nth-child(3):after{
	-webkit-animation:load .96s linear .64s infinite;
}
.hcload1 .hcload-lines > div:nth-child(4):after{
	-webkit-animation:load .96s linear .72s infinite;
}
.hcload1 .hcload-lines > div:nth-child(5):after{
	-webkit-animation:load .96s linear .8s infinite;
}
.hcload1 .hcload-lines > div:nth-child(6):after{
	-webkit-animation:load .96s linear .88s infinite;
}

.hcload2{
	display: inline-block;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	border: 2px solid #eee;
	border-top: 2px solid #1E9FFF;
	-webkit-animation: rotation .8s infinite linear;
    -moz-animation: rotation .8s infinite linear;
    -o-animation: rotation .8s infinite linear;
    animation: rotation .8s infinite linear;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(359deg)
    }
}
@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(359deg)
    }
}
@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg)
    }

    to {
        -o-transform: rotate(359deg)
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}
.loading-circle-wrapper {
  -webkit-animation: h-roate 2s ease-in-out infinite;
  animation: h-roate 2s ease-in-out infinite;
}
@-webkit-keyframes h-roate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes h-roate {
  100% {
    transform: rotate(360deg);
  }
}
.loading-circle {
  stroke: #409EFF;
  stroke-dasharray:234,380;
  animation: h-loading 1.5s ease-in-out infinite;
}
@-webkit-keyframes h-loading {
  0% {
    stroke-dasharray:5,500;
  }
  50% {
    stroke-dasharray:234,380;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray:234,380;
    stroke-dashoffset: -288;
  }
}
@keyframes h-loading {
  0% {
    stroke-dasharray:5,500;
  }
  50% {
    stroke-dasharray:234,380;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray:234,380;
    stroke-dashoffset: -288;
  }
}
/*转动动画：小花旋转*/
.h-loading-flower-sm{
  position: relative;
  width: 20px;
  height: 20px;
  margin: auto;
}
.h-loading-flower-sm .lines{
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-animation:h-roate 1.2s linear infinite;
}
.h-loading-flower-sm .lines > div{
  position: absolute;
  width: 2px;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.h-loading-flower-sm .lines > div:before,
.h-loading-flower-sm .lines > div:after{
  position: absolute;
  left: 0;
  content: "";
  height: 25%;
  width: 100%;
  background: #7b7b7b;
  border-radius: 3px;
}
.h-loading-flower-sm .lines > div:before{
  top: 0;
}
.h-loading-flower-sm .lines > div:after{
  bottom: 0;
}
.h-loading-flower-sm .lines > div:nth-child(2){
  -webkit-transform:rotate(45deg);
}
.h-loading-flower-sm .lines > div:nth-child(3){
  -webkit-transform:rotate(90deg);
}
.h-loading-flower-sm .lines > div:nth-child(4){
  -webkit-transform:rotate(135deg);
}
.h-loading-flower-sm .lines > div:nth-child(5){
  -webkit-transform:rotate(180deg);
}
/*转动*/
@-webkit-keyframes h-roate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes h-roate {
  100% {
    transform: rotate(360deg);
  }
}